<h1>Account Summary</h1>
<% if current_user %>
    <%= "Name: #{ sanitize current_user.first_name} #{sanitize current_user.last_name}" %><br/>

    <%= "Username: #{sanitize current_user.user_name}"  %><br/>

    <%= "Email: #{sanitize current_user.email}" %><br/>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', books_path %>