  <div >
    <%= image_tag @book.picture, class: "rounded float-end" if @book.picture.attached? %>
  </div>

<div class="show-text">
  <p>
    <strong>Title:</strong>
    <%= sanitize @book.title.html_safe %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= sanitize @book.author_full_name.html_safe %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= "$#{ @book.cost}" %>
  </p>

  <p>
    <strong>Publication Year:</strong>
    <%= @book.pub_year %>
  </p>

  <p>
    <strong>Blurb:</strong>
    <%= sanitize @book.blurb.html_safe %>
  </p>

  <p>
    <strong>Physical Description:</strong>
    <%= sanitize @book.physical_description.html_safe%>
  </p>
</div>

<%= link_to 'Back', books_path, class: "btn btn-primary" %>
<% if @book.user_id == current_user%>
  <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-warning"%> |
  <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%else%>
  <button type="button" id="checkout-button" class="btn btn-danger">Checkout</button>
<%end%>

<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key)%>");

  var checkoutButton = document.getElementById("checkout-button");
  checkoutButton.addEventListener("click", function () {
    fetch("/transactions", {
      method: "POST",
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: "id=<%= @book.id %>",
      credentials: 'same-origin'
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });
</script>
